html,
body {
	height: 100%;
}

body {
	background-color: #2e2e2e;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

img,
iframe {
	margin: 0 auto;
	border: none;
	box-shadow: 0 0 10px rgba(255, 236, 236, 0.486);
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
}

ul {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	list-style: none;
	gap: 16px;

	button {
		background-color: #ebebeb;
		border: none;
		padding: 8px;
		border-radius: 50%;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: #a7d1ff;
		}
	}
	button.ativo {
		background-color: #007bff;
	}
}
